@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lalezar&family=Michroma&family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-black: #201f1f;
  --color-dark-black: #000000;
  --color-action-btn-green: #bfff6b;
  --color-paragraph: #c0c0c0;
  --color-card: #838383;
  --color-card-gray: #4e4b4b;

  --font-unbounded: sans-serif, "Unbounded";
  --font-unbounded: "Unbounded", sans-serif;
  --font-lalezar: "Lalezar", cursive;
  --font-istokWeb: "IstokWeb", sans-serif;
  --font-michroma: "Michroma", sans-serif;
}

#hero-heading {
  font-weight: 400;
  font-style: normal;
}

#line {
  height: 0.1px;
  background-color: rgb(65, 64, 64);
}
#card {
  background-color: rgb(131, 131, 131, 0.1);
}

th {
  font-weight: normal;
}

.collection-card:hover {
  background-color: rgb(131, 131, 131, 0.1);
  cursor: pointer;
}

.circle {
  width: 500px;
  height: 500px;
  filter: blur(250px);
  right: 0;
  opacity: 0.7;
}

.right-container tr {
  font-size: 12px !important;
}
.right-container th {
  padding: 12px 8px !important;
  font-size: 11px !important;
}

.right-container table {
  font-family: var(--font-istokWeb) !important;
}

.right-container th,
.right-container td {
  padding: 12px 8px !important;
}

.right-container .collection-card {
  padding: 0 !important;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #888c83;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #bfff6b;
  border: 1 solid #bfff6b;
  background-color: none;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(191, 255, 107, 0.4);
}

.nft-card th {
  font-size: 11px;
}

.nft-card tr {
  font-size: 12px;
}

.search-owner-icon {
  color: #888c83;
}

.search-owner-input {
  color: #888c83;
  font-size: 12px;
}

.small-paragraph {
  font-size: 10px;
}
